{{#if this.scores_service.isGameOver}}
<div class="scoreboard-title">
  <h1>
    {{this.scores_service.playing_team}} has to score {{this.scores_service.total_runs }} within
    {{this.scores_service.total_overs}} overs to win the
    game.
    <button class="Display" type="button" {{on 'click' this.toggle}}>
      {{this.button_text}}
    </button>
  </h1>
  {{#if this.display}}
  <div>
    <Scorestable />
    <PersonTable />
  </div>
  {{/if}}
  <h1>{{this.scores_service.playing_team }} has to score {{this.remaining_score }} within
    {{this.scores_service.wickets_remaining}}
    wickets to
    win the game.
  </h1>
</div>
{{else}}
<Result />
{{/if}}