<div class="scoreboard-title">
  <h1>
    {{this.playing_team }} has to score {{this.total_runs }} within {{this.total_overs}} to win the game.
    <button type="button" {{on 'click' this.toggle}}>
      start
    </button>
  </h1>
  <h1>{{this.playing_team }} has to score {{this.remaining_score }} within {{this.scores_service.wickets_remaining}} to
    win the game.
  </h1>

  {{#if this.display}}
  <table>
    <tbody>
      {{#each this.over_score as |overScore|}}
      <Overdetails @over_score={{overScore}} />
      {{/each}}
    </tbody>
  </table>
  {{/if}}
</div>